
.siteTitle { 
    display: flex;
    justify-content: center;
    margin-top: -6rem;
    margin-bottom: 1rem;
}

.siteLogo { 
    display: flex;
    justify-content: center;
    margin-left: 6rem;
}


.form { 
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form__content { 
    margin-top: 1rem;
    margin-bottom: 1rem;
}